@media print {
    /* Hide page numbers and timestamps */
    .page-numbers,
    .timestamps {
      display: none;
    }
  
    /* Adjust styles for printing */
    .container {
      width: 100%; /* Use the full width of the page */
      margin: 0; /* No margins for printing */
    }
  }

  /* Photo */
  .photo {
    display: block;
    margin-top: 0.5cm;
    margin-left: auto;
    width: 100%;
  }

  .section-title {
    font-weight: bold;
    font-size: 22px;
    
}

  p {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h3 {
    margin: 0px;
    padding:0px;
  }

  .section-title {
    font-weight: bold;
    margin-bottom: 0px;
  }

  hr {
    margin-top: 0px;
    margin-bottom: 10px;
    padding:0px;
    height:2px;
    background-color:#152b41
  }

  .job .workplace {
    font-size: 18px;
    margin-top: 0px; /* Add space above workplace */
    margin-bottom: 0px; /* Add space below workplace */
}

.job .duration {
    font-size: 15px;
    float: right;
    margin-right:10px;
    margin-top:1px; /* Add space above duration */
    margin-bottom:0px;
}

.job .position {
  font-size: 14px;
  font-size: 100%;
  margin-top: 0px; /* Add space above job position */
  margin-bottom: 9px; /* Remove the margin below the job position */
}

.job {
  margin-bottom: 5px; /* Adjust the space between position and workplace */
}

.job-highlights {
  text-align: justify;
  margin-top: 5px; /* Add space above job highlights */
  margin-bottom: 10px; /* Add space below job highlights */
  margin-right: 20px;
  font-size: 15px;
}
